<form name="email-signup" id="contactForm" method="POST" class="signup-form">
  <div class="form-group">
    <input
      type="email"
      id="email-id"
      name="email"
      placeholder="Enter your email"
      required
      class="email-input"
    />
    <button type="submit" class="submit-button"> Get Early Access </button>
  </div>
</form>
