<form
  name="email-signup"
  id="contactForm"
  method="POST"
  class="signup-form"
>
  <div class="form-group">
    <input
      type="text"
      id="name-id"
      name="name"
      placeholder="Enter your name"
      required
      class="name-input"
    />
    <input
      type="tel"
      id="phone-id"
      name="phone"
      placeholder="Enter your phone number"
      class="phone-input"
      tabindex="-1"
      autocomplete="off"
    />
    <input
      type="email"
      id="email-id"
      name="email"
      placeholder="Enter your email"
      required
      class="email-input"
    />
    <button type="submit" class="submit-button"> Get Early Access </button>
  </div>
</form>
